@charset "UTF-8"

// Informa compilador stylus para ter suporte para IE
support-for-ie = true

// Stylus plugins
@import 'jeet'
@import 'nib'
@import 'axis'

// Fonte
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Mixins
@import 'mixins'

// Vendor
// Bootstrap
@import 'vendor/bootstrap'

// App styles
@import 'main'
@import 'login'
