/*--------------------------------------------------------------
  Helpers
--------------------------------------------------------------*/
.hidden
  position absolute
  top -9999px
  left -9999px
  display none
  visibility hidden
  z-index -1
  user-select none

.no-pointer-events
  -webkit-pointer-events none
  pointer-events none
  user-select none