/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  Media Queries
--------------------------------------------------------------*/
$media-x-small = 480px
$media-small = 576px
$media-x-medium = 768px
$media-medium = 992px

$max-width = 1140px

/*--------------------------------------------------------------
	Fontes
--------------------------------------------------------------*/

// Default
$font-default = "Lato", "Helvetica Neue", Helvetica Neue, "HelveticaNeueLTStd", "Helvetica", Arial, sans-serif
$font-regular = $font-default

// Default font-size
$default-font-size = 1rem

// Menu
$font-menu = $font-default

// Headings
$font-headings = $font-default

// Monospace
$font-monospace = SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

// Pre
$font-pre = "Courier 10 Pitch", Courier, monospace

/*--------------------------------------------------------------
	Cores
--------------------------------------------------------------*/

$colors = {
	primary: #209a90,
	secondary: #832472,
	success: #078d00,
	info: #198ae3,
	warning: #fed713,
	danger: #fe7c96,
	light: #f8f9fa,
	dark: #19191a,
	wrong: #a82518,
}

$primary = $colors["primary"]
$secondary = $colors["secondary"]